body {
    margin: 0;
    padding: 0;
    background-color: #1E1E1E;
    font-family: "Manrope", serif;
}

/* genral */
.container {
    width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* start navbar */
nav {
    background-color: rgb(40, 40, 40);
    color: #fff;
}

nav .clearfix {
    clear: both;
}

nav .logo {
    float: left;
    width: 50%;
}

nav .logo h1 {
    padding-left: 20px;

}

nav .menu {
    float: right;
    width: 50%;
}

nav .menu ul {
    list-style: none;
}

nav .menu ul li {
    display: inline-block;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 5px;

}

/* end navbar */

/* strat  header */

header {
    background-image: url(../assets/images/Container.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 700px;
}

header .info {
    text-align: center;
    padding-top: 100px;
    color: #fff;
    margin-left: 200px;
    margin-right: 200px;
}

header .info h1 {
    font-size: 48px;
}

header .info p {
    font-size: 15px;
    color: #999999;
}

header .info button {
    font-family: inherit;
    font-size: 18px;
    height: 52px;

    background: linear-gradient(to bottom, #E50000 0%, #E50000 100%);
    color: white;
    padding: 0.8em 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}

header .info button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

header .info button:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

header .info button span {
    display: block;
    margin-left: 0.4em;
    transition: all 0.3s;
}

header .info button svg {
    width: 18px;
    height: 18px;
    fill: white;
    transition: all 0.3s;
}

header .info button .svg-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0.5em;
    transition: all 0.3s;
}

header .info button:hover .svg-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
}

header .info button:hover svg {
    transform: rotate(45deg);
}
header .row{
    justify-content: center;
}
header .row .icons {
    display: flex;
    margin-left: 20px;
}
header .row .icons .icon-card{
   height: 48px;
   width: 48px;
   border-radius: 8px;
   background-color: #0F0F0F;
   margin-right: 8px;
}
header .row .icons .icon-card img{
    margin-top: 10px;
}
/* end header */

/* strat explore */
.explore .card {
    background-color: #262626;
    color: #fff;
    height: 342px;
    width: 295.4px;
    text-align: center;
    border-radius: 12px;
    padding-top: 30px;
    margin-bottom: 60px;
    flex: 23.5%;
    max-width: 23.5%;
  
}

.explore .card:not(:nth-last-of-type(2)) {
    margin-right: 2%;  
}

.explore .card img {
    width: 237px;
    height: 252px;
}
.explore .card .detials{
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
    padding-left: 30px;
    padding-right: 30px;
}
.explore .card .detials h2{
    margin: 0;
    padding: 0;
}
.explore .card .detials i{
    margin-top: 7px;
}